* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*html {
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("R.jfif");
    width: 40em;
    height: 40em;
    padding: 1em 1em;
    box-shadow: 10px 10px 5px black;

    border-radius: 10%;
    margin-top: 2em;
    border: 6px solid white;
}
#result{
    display: flex;
    justify-content: space-evenly;
    width: 35em;
    height: 7em;
    background-color: #bbbbbb;
    align-items: center;
    border-radius: 10%;
    font-family: "Roboto Light";
    font-weight: bold;
    border: 3px solid black;
}
button{
    display: flex;
    justify-content: center;
    width: 7em;
    background-color: #ffffff;
    border: 1px solid black;
    align-items: center;
    font-size: 1.4rem;
    height: 3em;
    border-radius: 10%;
    margin: 0.3em;
    box-shadow: 5px 5px 5px #000000;
}
button:hover{
    cursor: pointer;
    background-color: #e1e1e1;
    box-shadow: -1px -1px 3px white;
}

